@import "~@blueprintjs/core/dist/blueprint.css";

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

.pt-navbar {
  margin-bottom: 50px;
}

.pt-tabs {
  width: 100%;
  position: relative;
}

.pt-tab-panel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.host-detail {
  width: 100%;
  text-align: left;
}

.overlay-common {
  top: 200px;
  left: calc(50% - 300px);
  z-index: 21;
  width: 600px;
}

.popover-actions {
  margin-top: 2em;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}

.login-required {
  margin-top: 200px;
  margin-bottom: 30px;
}

.confirm-button {
  float: right;
}

.initial-spinner {
  margin-top: 300px;
}

.popup > span > div {
  z-index: 22;
}

td.converge-col {
  text-align: center !important;
}

.docs-overlay-example-transition.pt-overlay-enter, .docs-overlay-example-transition.pt-overlay-appear {
  -webkit-transform: translateY(-50vh) rotate(-10deg);
  transform: translateY(-50vh) rotate(-10deg);
}

.docs-overlay-example-transition.pt-overlay-enter-active, .docs-overlay-example-transition.pt-overlay-appear-active {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  transition-delay: 0;
}

.docs-overlay-example-transition.pt-overlay-leave {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
}

.docs-overlay-example-transition.pt-overlay-leave-active {
  -webkit-transform: translateY(150vh) rotate(-20deg);
  transform: translateY(150vh) rotate(-20deg);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  transition-delay: 0;
}